<!doctype html>
<html lang="en">
<head>
    <title>{{ title }}</title>

    <!-- Bootstrap CSS v5.2.1 -->
    {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />     #}

    <!-- Style Css -->
    <link href="/public/css/reset.css" rel="stylesheet" />
    <link href="/public/css/style.css" rel="stylesheet" />
</head>
<body>
    {# {% include 'header.njk' %} #}
    <main>
        {{content | safe}}
    </main>
    {% include 'footer.njk' %}

    <!-- Bootstrap JS -->
    {# <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous" ></script> #}
</body>
</html>