<div class="card-grid">
{% for card in cards %}
    <div class="card">
        <h2>{{ card.title }} - #{{ card.id }}</h2>
        <p>Hi, I'm {{ card.name }} and I work in {{ card.position }}.</p>
        <h3>Interests</h3>
        <ul>
            {% for interest in card.interests %}
            <li>{{ interest }}</li>
            {% endfor %}
        </ul>
        <h3>Schedule</h3>
        <p>On call: {{ card.on-call }}</p>
    </div>
{% endfor %}
</div>