<footer class="section">
    <div class="container-wider">
        <div class="row">
            <div class="col-xl-8 col-lg-10 d-flex align-items-center justify-content-between">
                <div class="group__copyright centered-items">
                    <div>We are Upstairs 2023</div>
                    <a href="#">Terms & Conditions</a>
                </div>
                <div class="group__contact-info centered-items">
                    <a href="mailto:info@upstairs.co">info@upstairs.co</a>
                    <a href="tel:(08) 6184 4699">(08) 6184 4699</a>
                    <div>Level 1/346 William St. Northbridge WA, 6003</div>
                </div>
                <div class="group__socials centered-items">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                            <g id="linkedin-white" data-name="linkedin-white" transform="translate(-1254 -6378)">
                              <g id="Ellipse_44" data-name="Ellipse 44" transform="translate(1254 6378)" fill="none" stroke="#fff" stroke-width="1">
                                <circle cx="11" cy="11" r="11" stroke="none"/>
                                <circle cx="11" cy="11" r="10.5" fill="none"/>
                              </g>
                              <path id="Icon_awesome-linkedin-in" data-name="Icon awesome-linkedin-in" d="M2.284,10.2H.169V3.392H2.284ZM1.225,2.463A1.231,1.231,0,1,1,2.45,1.226,1.235,1.235,0,0,1,1.225,2.463ZM10.2,10.2H8.091V6.888c0-.79-.016-1.8-1.1-1.8-1.1,0-1.268.859-1.268,1.747V10.2H3.609V3.392H5.638v.929h.03a2.223,2.223,0,0,1,2-1.1c2.141,0,2.535,1.41,2.535,3.241V10.2Z" transform="translate(1259.942 6383.941)" fill="#fff"/>
                            </g>
                        </svg>
                    </a>
    
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                            <g id="instagram-white" data-name="instagram-white" transform="translate(-1287 -6378)">
                              <g id="Ellipse_43" data-name="Ellipse 43" transform="translate(1287 6378)" fill="none" stroke="#fff" stroke-width="1">
                                <circle cx="11" cy="11" r="11" stroke="none"/>
                                <circle cx="11" cy="11" r="10.5" fill="none"/>
                              </g>
                              <path id="Icon_awesome-instagram" data-name="Icon awesome-instagram" d="M6.005,5.165A3.081,3.081,0,1,0,9.086,8.245,3.076,3.076,0,0,0,6.005,5.165Zm0,5.083a2,2,0,1,1,2-2,2.006,2.006,0,0,1-2,2ZM9.93,5.039a.719.719,0,1,1-.719-.719A.717.717,0,0,1,9.93,5.039Zm2.04.729A3.556,3.556,0,0,0,11,3.25,3.579,3.579,0,0,0,8.482,2.28c-.992-.056-3.965-.056-4.957,0a3.574,3.574,0,0,0-2.518.968A3.567,3.567,0,0,0,.037,5.765c-.056.992-.056,3.965,0,4.957a3.556,3.556,0,0,0,.971,2.518,3.584,3.584,0,0,0,2.518.971c.992.056,3.965.056,4.957,0A3.556,3.556,0,0,0,11,13.24a3.579,3.579,0,0,0,.971-2.518c.056-.992.056-3.963,0-4.955Zm-1.282,6.019a2.028,2.028,0,0,1-1.142,1.142,13.242,13.242,0,0,1-3.542.241,13.345,13.345,0,0,1-3.542-.241,2.028,2.028,0,0,1-1.142-1.142A13.242,13.242,0,0,1,1.08,8.245,13.345,13.345,0,0,1,1.321,4.7,2.028,2.028,0,0,1,2.463,3.561,13.242,13.242,0,0,1,6.005,3.32a13.345,13.345,0,0,1,3.542.241A2.028,2.028,0,0,1,10.689,4.7a13.242,13.242,0,0,1,.241,3.542A13.234,13.234,0,0,1,10.689,11.787Z" transform="translate(1292.141 6380.791)" fill="#fff"/>
                            </g>
                        </svg>
                    </a>
    
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                            <g id="facebook-white" data-name="facebook-white" transform="translate(-1320 -6378)">
                              <g id="Ellipse_42" data-name="Ellipse 42" transform="translate(1320 6378)" fill="none" stroke="#fff" stroke-width="1">
                                <circle cx="11" cy="11" r="11" stroke="none"/>
                                <circle cx="11" cy="11" r="10.5" fill="none"/>
                              </g>
                              <path id="Path_175" data-name="Path 175" d="M-687.145,248.652H-685v-5.373h1.5l.159-1.8H-685v-1.024c0-.424.085-.592.5-.592h1.161V238h-1.486c-1.6,0-2.316.7-2.316,2.049v1.434h-1.116V243.3h1.116Z" transform="translate(2016.909 6145.625)" fill="#fff"/>
                            </g>
                        </svg>                      
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-2 d-flex justify-content-end">
                <img src="../public/images/upstairs-footer-logo.png" class="footer-logo" alt="footer-logo">
            </div>
        </div>
    </div>
</footer>