<div class="steps-wrapper">
{% for step in steps %}
    {% set loopstep = loop %}
    <div class="step">
        <div class="step-inner">
            <h2 class="step__title">Step {{ loopstep.index }}</h2>
            <div class="step__main">
                <h4>{{ step.title }}</h4>
                <div>{{ step.content }}</div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
