@font-face {
    font-family: "Helvetica";
    src:
        local("Helvetica"),    
        url("./fonts/HelveticaLightOblique.woff2") format("opentype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Helvetica";
    src:
        local("Helvetica"),    
        url("./fonts/Helvetica-Bold.woff2") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Futura-Bold";
    src:
        local("Futura-Bold"),    
        url("./fonts/Futura-Bold.woff2") format("opentype");
    font-style: normal;
    font-weight: 400;
}