---
layout: base.njk
isHome: true

title: Home
---

<!-- Hero Banner -->
<section class="section-hero">
    <div class="container">
        <div class="container-inner">
            <div class="content">
                <h1>Elevate your online impact with a high-performance website.</h1>
            </div>
            <div class="form-wrap">
                <div class="form-wrap-inner">
                    <h2 class="form__title">Let’s chat</h2>
                    <p class="form__subtitle">Get Started with Your New Website Today</p>
                    <div class="form__desc">
                        <p>Ready to transform your marketing presence and propel your business beyond your competitors?
                            Upstairs, your trusted partner in custom web design, development, and digital marketing
                            solutions, is here to amplify your brand’s success.</p>
                        <p>What are you waiting for? Together, we can turn your vision into a website so stunning that
                            even your competitors will want to be friends. Your success awaits!</p>
                    </div>
                    <form method="post" class="form-contact">
                        <fieldset>
                            <input type="text" name="fname" value="" placeholder="First Name" />
                        </fieldset>
                        <fieldset>
                            <input type="text" name="lname" value="" placeholder="Last Name" />
                        </fieldset>
                        <fieldset>
                            <input type="text" name="company" value="" placeholder="Company" />
                        </fieldset>
                        <fieldset>
                            <input type="email" name="email" placeholder="Email" />
                        </fieldset>
                        <fieldset>
                            <input type="text" name="phone" value="" placeholder="Phone" />
                        </fieldset>
                        <input name="submit" type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Intro -->
<section class="section-intro">
    <div class="container">
        <div class="container-inner">
            <h2 class="intro__heading">High performance websites add value to a business.</h2>
            <p>With Upstairs, your website can be more than just a digital space. Your website can convert visitors to customers, build your sales pipeline, and amplify your ROI. Crafting immersive online experiences isn’t just what we do—it’s our art form, honed through a process that’s as collaborative as it is efficient, powered by marketing expertise that’s woven into every step:</p>
        </div>
    </div>
</section>

<!-- Steps -->
<section class="section-steps">
    <div class="container">
        <div class="container-inner">
            <h2>How We Work</h2>
            {% include 'steps.njk' %}
        </div>
    </div>
</section>






{# {% include 'cards.njk' %} #}